.draggable-item {
  cursor: move;
}
.smooth-dnd-container {
  min-width: 100px;
  min-height: 100px;
  transition: all .5s;
}
.form-widget {
  padding: 10px;
  border: solid 1px rgba(0,0,0,0.85);
  width: 100%;
}
.form-element {
}
.smooth-dnd-draggable-wrapper:hover .form-element {
  border: solid 1px #C4D6B0;
}
.element-inner {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.clickable.remove-element-button {
  color: #F71735;
}
div.clickable{
  cursor: pointer;
}
.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
    overflow: visible;
}
.element-actions {
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: #C4D6B0;
    width: 75px;
    display: none;
}
.smooth-dnd-draggable-wrapper:hover .element-actions {
  display:flex;
}
.element-actions svg {
  color: #291F1E;
}
.element-actions .clickable {
  padding: 5px;
}
.element-span-container {
  width: 100%;
  display: flex;
}
.no-padding {
  padding: 0px !important;
}
.label-help-text {
    font-size: 12px;
    font-style: italic;
}
/* ALL INPUTS */
.swd-input {
  width: 100%;
}
.swd-form-element-wrapper {
  display:flex;
  width: 100%;
}
.swd-input[type="submit"] {
  cursor: pointer;
}
